/* anik code  */
body {

    font-style: normal;
   
}

main {}

.subscription-plan__tittle {

    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #000000;
}

.subscription-plan__container {
    height: auto;
    background: linear-gradient(181.05deg, #68ABF4 39%, #38CAE0 75.18%);
    mix-blend-mode: darken;
}

.subscription-plan__header {
    padding-top: 44px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
    font-family: montserrat;
}

.col-4__container {
    padding: 0px 0px 20px 0px;
}

.col-8__container {
    padding: 0px 0px 0px 0px;
}

.vat-text {
    color: white;
    font-size: 18px;
}



.subscription-plan__border {
    padding-bottom: 5px;
    border-bottom: 8px solid #FFFFFF;
}

.subscription-header__text {
    padding-top: 45px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
    color: #FFFFFF;
}

.subscription-plan__card1 {
    margin-bottom: 100px;
    width: 95%;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

.subscription-plan__middlecard {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

.card1-header__text {
    padding: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #79A7D3;
}

.middlecard-header__text {
    padding: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #79A7D3;
}

.free-trail__container {
    font-family: 'Noto Sans';
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    width: 95%;
    height: auto;
    background: #39CBE0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    color: #FFFFFF;
}

.small-text {
    font-size: 14px;
    text-transform: lowercase;
}

.description-box {
    padding-left: 30px;
    padding-top: 3px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #2F2E2F;
}

.description-box__text {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #555555;

}

.choose-plan__btn button {
    margin-bottom: 25px;
    margin-top: 15px;
    border: none;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    width: 190px;
    height: 55px;
    background: #FF9900;
    border-radius: 10px;
}

.choose-plan__btn1 button {
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    width: 154px;
    height: 37px;
    background: #FF9900;
    border-radius: 10px;
}

.subscription-text__below {
    padding: 0px 0px 80px 0px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: white;

}

.subscription-text__below span {

    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #832800;


}

.subscription-text__below a {
    text-decoration: none;

}

.subscription-text__below h3 {

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 37px;
    text-align: center;
    color: white;


}

.mobile-section__text h3 {
    text-align: center;
    padding-top: 65px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 65px;
    color: #000000;
}

.mobile-section__text p {
    padding-top: 30px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.mobile-section__img {
    padding: 0px !important;

}

.mobile-section__img img {
    width: 100%;

}

.card-top__style {
    margin-left: auto;
    margin-right: auto;
    height: 25px;
    border-radius: 20px;
    border-top: 10px solid skyblue;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .subscription-plan__tittle {
        font-size: 20px;
    }

    .subscription-plan__header {
        font-size: 32px;
        line-height: 50px;
    }

    .card1-header__text {
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }

    .free-trail__container {
        margin-top: 10px;
        height: 130px;
        font-size: 15px;
        line-height: 14px;
    }

    .my-3 {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .middlecard-header__text {
        height: 50px;
        font-size: 20px;
        line-height: 55px;
    }

    .my-4 {
        margin-top: 1rem !important;
        margin-bottom: 0rem !important;
    }

    .subscription-plan__card1 {
        height: auto;

    }

    .subscription-plan__middlecard {
        height: auto;
    }

    .description-box {
        font-size: 12px;
        line-height: 15px;
    }

    .subscription-header__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .card-top__style {
        height: 0px;
    }

}

@media only screen and (max-width: 1000px) {

    .subscription-plan__tittle {
        font-size: 20px;
    }

    .subscription-plan__header {
        font-size: 27px;
        line-height: 45px;
    }

    .subscription-header__text {
        font-size: 13px;
        line-height: 21px;
    }

    .card1-header__text {
        height: 32px;
        font-size: 10px;
        line-height: 36px;
    }

    .free-trail__container {
        height: 120px;
        font-size: 12px;
        line-height: 10px;
    }

    .my-3__custom {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .middlecard-header__text {
        height: 43px;
        font-size: 12px;
        line-height: 45px;
    }

    .my-4__custom {
        margin-top: 1rem !important;
        margin-bottom: 0rem !important;
    }

    .ps-4__custom {
        padding-left: 0.5rem !important;
    }

    .subscription-plan__card1 {
        height: auto;
    }

    .subscription-plan__middlecard {
        height: auto;
    }

    .description-box {
        line-height: 10px;
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;

    }

    .choose-plan__btn button {
        font-size: 12px;
        line-height: 13px;
        width: 100px;
        height: 33px;
    }

    .choose-plan__btn1 button {
        font-size: 12px;
        width: 100px;

    }

    .subscription-text__below {
        font-size: 18px;
        line-height: 25px;

    }

    .subscription-text__below span {
        font-size: 25px;
        line-height: 70px;
    }

    .mobile-section__img img {
        width: 90%;
    }

    .mobile-section__text h3 {
        padding-top: 0px;
        font-size: 20px;
        line-height: 25px;
    }

    .mobile-section__text p {
        padding-top: 18px;
        font-size: 18px;
        line-height: 26px;
    }

    .small-text {
        font-size: 9px;
        text-transform: lowercase;
    }

    .description-box__text {
        font-size: 11px;
        line-height: 15px;
    }

    form {
        width: auto !important;
    }


}

@media only screen and (max-width: 765px) {
    .subscription-plan__container {
        height: auto;

    }

    .subscription-plan__tittle {
        font-size: 15px;
    }

    .subscription-plan__header {
        font-size: 18px;
        line-height: 20px;
    }

    .subscription-header__text {
        font-size: 22px;
        line-height: 30px;
    }

    .col-4__container {
        padding: 25px 0px 0px 15px;
        text-align: center;
    }

    .card1-header__text {
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }

    .col-8__container {
        padding: 0px 0px 0px 0px;
    }

    .card1-header__text {
        height: 51px;
        font-size: 22px;
        line-height: 48px;

    }

    .free-trail__container {
        padding-top: 13px;
        height: 160px;
        font-size: 20px;
        line-height: 22px;
    }

    .align-items-center {
        justify-content: center;

    }

    .description-box {
        font-size: 17px;
        line-height: 35px;
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 3px;
    }

    .description-box__text {

        margin-top: 15px;
        font-size: 16px;
    }

    .subscription-plan__middlecard {

        height: auto;
    }

    .middlecard-header__text {
        height: 60px;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 60px;
        color: #505050;
    }

    .subscription-text__below {
        font-size: 18px;
        line-height: 25px;

    }

    .subscription-text__below span {
        font-size: 25px;
        line-height: 70px;
    }

    .mobile-section__text {
        text-align: center !important;
    }

    .app-icon {
        justify-content: center;
    }

    .searchbar__section {
        display: block !important;
    }




}

@media only screen and (max-width: 600px) {
    .small-text {
        font-size: 13px;
        text-transform: lowercase;
    }

    .subscription-plan__tittle {
        font-size: 11px;
    }

    .subscription-plan__header {
        font-size: 19px;
        line-height: 35px;
    }

    .subscription-plan__header span::after {
        Content: "";
        position: absolute;
        height: 4px;
        top: 107%;
        background-color: white;
        left: 0;
        right: -3px;
        border-radius: 10px;
    }

    .subscription-header__text {
        font-size: 15px;
        line-height: 25px;
    }

    .col-4__container {
        padding: 0px 0px 0px 0px;
        text-align: center;
    }

    .col-8__container {
        padding: 0px 0px 0px 0px;
    }

    .card1-header__text {
        height: 51px;
        text-align: center;
        font-weight: 700;
        font-size: 19px;
        line-height: 48px;
        color: #505050;
    }

    .free-trail__container {
        padding-top: 10px;
        height: 110px;
        font-size: 20px;
        line-height: 18px;
    }

    .align-items-center {
        justify-content: flex-start;

    }

    .description-box {
        font-size: 14px;
        line-height: 18px;
    }

    .description-box__text {
        margin-top: 15px;
        font-size: 12px;
    }

    .subscription-plan__middlecard {

        height: auto;
    }

    .middlecard-header__text {
        height: 60px;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 60px;
        color: #505050;
    }

    .subscription-text__below {
        font-size: 18px;
        line-height: 25px;

    }

    .subscription-text__below span {
        font-size: 25px;
        line-height: 30px;
    }

    .subscription-text__below h3 {
        font-size: 25px;
        line-height: 30px;
    }

    .mobile-section__text h3 {
        padding-top: 0px;
        font-size: 15px;
        line-height: 20px;
    }

    .app-icon__1 {
        width: 50%;
    }


}

/* Data privacy */


/* ======= */
.navbar-custom {
    z-index: 1020;
    top: 0;
}
.terms-section {
    height: 600px;
    overflow-y: scroll;
    max-width: 1210px;
}

.terms-section .back-link {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #000000;
    opacity: 0.5;
}

.terms-section .img-doc {
    height: 51px;
}

.terms-section h4 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #333333;
}

.terms-section h6 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}

.terms-section h5 {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.terms-section p {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #333333;
    opacity: 1;
}

.terms-section .decline-button {
    background: #FFFFFF;
    border: 2px solid #04CDC9;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #04CDC9;
    padding: 19px 58px;
    margin-right: 31px;
}

.terms-section .accept-button {
    background: #04CDC9;
    border: 2px solid #1ECBD9;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 19px 58px;
}

.terms-section .two-button {
    margin: 40px 0 90px;
}

.terms-section hr {
    margin: 15px 0 50px;
    opacity: 0.5;
    border: 1px solid #000000;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #04CDC9;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2567D9;
}

input[type=checkbox]+label {
    display: block;
    cursor: pointer;
    font-family: 'Arial'
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-left: 8px;
    padding-bottom: 8px;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox]+label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked+label:before {
    background-color: #ED820A;
    border-color: #ED820A;
    color: white;
}

input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
    background-color: #F7C28F;
    border-color: #F7C28F;
}

.dark-text {
    color: black !important;
    font-family: 'Noto Sans' !important;
}

.license-div {
    display: flex;
    min-width: 200px;
}

.footer__div {
    padding-top: 100px;
}


/* FAQ section starts */

::placeholder {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    color: #999999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    color: #999999;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    color: #999999;
}


.searchbar__section hr {
    margin: 15px 0 50px;
    opacity: 0.5;
    border: 1px solid #000000;
}

details>summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
}




details>summary:after {
    content: ' ';
    width: 16px;
    height: 8px;
    display: inline-block;
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../img/up.png');
}

/* Rotate the arrow when the collapsible is open */
details[open]>summary:after {
    transform: rotate(0deg);
}


.searchbar__section.mt-3 {
    display: flex;
    justify-content: space-between;
}

details>summary::-webkit-details-marer {
    display: none;
}

.summary__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;
}


.summary__question {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.summary__answer {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.details-content p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 5px;
}




.details-content {
    margin: 35px 0px;



}


form {
    border: 1px solid currentColor;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    outline: none;
}

button:not(:disabled) {
    cursor: pointer;

}


form {
    /* border: 1px solid currentColor; */
    width: 397px;
    height: 44px;
    left: 844px;
    top: 186px;
    background: #FFFFFF;
    border: 1px solid #bbafaf;
    border-radius: 10px;
}


.back__arrow {
    margin-right: 5px;
}

.varal__Logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-margin {
    width: 85%;
}

.search-icon {
    opacity: 0.5;
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button,
a,
h3,
h5,
h6,
p,
span {
    font-family: 'Noto Sans';
}

.summary__answer-primary {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 25px !important;
    color: #999999 !important;
}

.FAQ__title {
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 33px !important;
    color: #333333 !important;
}

.container1 {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 10px;
}

.search-input {
    width: 83%;
    height: 40px;
    background: #FFFFFF;
    opacity: 0.5;
    border: none;
    border-radius: 10px;
    margin-top: 0px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
}

.search-result {
    display: none;
    padding: 10px;
    overflow-y: scroll;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #DEDEDE;
    ;
    margin-top: 5px;
    /* display: block;
    justify-content: center; */
    background-color: white;
}

.search-result p {
    color: #000;

}