body {
    font-family: 'Montserrat';
    font-style: normal;
}

.subscription-plan__tittle {

    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.subscription-plan__container {

    background: linear-gradient(181.05deg, #38CAE0 39%, #68ABF4 75.18%);
    mix-blend-mode: darken;
}

.subscription-plan__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #FFFFFF;

}

.col-4__container {
    padding: 200px 0px 200px 41px;
}

.col-8__container {
    padding: 108px 0px 0px 0px;
}

.vat-text {
    font-size: 18px;
    padding-top: 200px;
    position: absolute;
}

.vat-text2 {
    display: none;
}

.subscription-plan__border {
    padding-bottom: 5px;
    border-bottom: 8px solid #FFFFFF;
}

.subscription-header__text {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

.subscription-plan__card1 {
    width: 100%;
    height: 600px;
    background: #FFFFFF;
    border-radius: 20px;
}

.subscription-plan__middlecard {
    width: 100%;
    height: 643px;
    background: #FFFFFF;
    border-radius: 20px;
}

.card1-header__text {
    height: 51px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #505050;
}

.middlecard-header__text {
    height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 60px;
    color: #505050;
}

.subscription-plan__col {
    margin: -10px 0px 0px 0px;
}

.free-trail__container {
    font-family: 'Noto Sans';
    padding-top: 13px;
    text-align: center;
    width: 100%;
    height: 160px;
    background: #4C80F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.small-text {
    font-size: 14px;
}

.description-box {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 35px;
    color: #2F2E2F;
}

.description-box__text {
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #555555;

}

.choose-plan__btn button {
    border: none;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    width: 154px;
    height: 37px;
    background: #FF9900;
    border-radius: 10px;
}

.subscription-text__below {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;

}

.subscription-text__below span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    color: #FF9900;

}

.mobile-section__text h3 {
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
}

.mobile-section__text p {
    padding-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.mobile-section__img  {
    padding: 0px;
}


@media only screen and (max-width: 1200px) {
    .subscription-plan__tittle {
        font-size: 20px;
    }

    .subscription-plan__header {
        font-size: 32px;
        line-height: 50px;
    }

    .card1-header__text {
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }

    .free-trail__container {
        height: 130px;
        font-size: 15px;
        line-height: 14px;
    }

    .my-3 {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .middlecard-header__text {
        height: 50px;
        font-size: 20px;
        line-height: 55px;
    }

    .my-4 {
        margin-top: 1rem !important;
        margin-bottom: 0rem !important;
    }

    .subscription-plan__card1 {
        height: 565px;
    }

    .subscription-plan__middlecard {
        height: 600px;
    }
    
}

@media only screen and (max-width: 1000px) {

    .subscription-plan__tittle {
        font-size: 20px;
    }

    .subscription-plan__header {
        font-size: 27px;
        line-height: 45px;
    }

    .subscription-header__text {
        font-size: 25px;
        line-height: 40px;
    }

    .card1-header__text {
        height: 32px;
        font-size: 16px;
        line-height: 36px;
    }

    .free-trail__container {
        height: 122px;
        font-size: 14px;
        line-height: 12px;
    }

    .my-3__custom {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .middlecard-header__text {
        height: 43px;
        font-size: 18px;
        line-height: 45px;
    }

    .my-4__custom {
        margin-top: 1rem !important;
        margin-bottom: 0rem !important;
    }

    .ps-4__custom  {
        padding-left: 0.5rem !important;
    }

    .subscription-plan__card1 {
        height: 525px;
    }

    .subscription-plan__middlecard {
        height: 585px;
    }

    .description-box {
        line-height: 27px;

    }

    .choose-plan__btn button {
        font-size: 13px;
        line-height: 13px;
        width: 130px;
        height: 33px;
    }

    .subscription-text__below {
        font-size: 25px;
        line-height: 37px;

    }

    .subscription-text__below span {
        font-size: 25px;
        line-height: 70px;
    }
    .mobile-section__img img {
       width: 90%;
    }
    .mobile-section__text h3 {
        padding-top: 0px;
        font-size: 20px;
        line-height: 25px;
    }
    .mobile-section__text p {
        padding-top: 18px;
        font-size: 18px;
        line-height: 26px;
    }

}

@media only screen and (max-width: 765px) {
    .subscription-plan__tittle {
        font-size: 15px;
    }

    .subscription-plan__header {
        font-size: 25px;
        line-height: 40px;
    }

    .subscription-header__text {
        font-size: 22px;
        line-height: 40px;
    }

    .col-4__container {
        padding: 25px 0px 0px 15px;
        text-align: center;
    }

    .card1-header__text {
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }

    .col-8__container {
        padding: 0px 0px 0px 0px;
    }

    .card1-header__text {
        height: 51px;
        font-size: 22px;
        line-height: 48px;

    }

    .free-trail__container {
        padding-top: 13px;
        height: 160px;
        font-size: 20px;
        line-height: 22px;
    }

    .align-items-center {
        justify-content: center;

    }

    .description-box {
        font-size: 17px;
        line-height: 35px;
    }

    .description-box__text {
        margin-top: 15px;
        font-size: 16px;
    }

    .subscription-plan__middlecard {
        margin-top: 24px;
        height: 585px;
    }

    .middlecard-header__text {
        height: 60px;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 60px;
        color: #505050;
    }

    .subscription-text__below {
        font-size: 25px;
        line-height: 37px;

    }

    .subscription-text__below span {
        font-size: 25px;
        line-height: 70px;
    }
    .mobile-section__text{
        text-align: center !important;
    }
    .app-icon{
        justify-content: center;
    }
    .vat-text{
        display: none;
    }
    .vat-text2{
        text-align: center;
        display: block;
    }

}

@media only screen and (max-width: 600px) {
    .subscription-plan__tittle {
        font-size: 11px;
    }

    .subscription-plan__header {
        font-size: 20px;
        line-height: 40px;
    }

    .subscription-header__text {
        font-size: 18px;
        line-height: 40px;
    }

    .col-4__container {
        padding: 25px 0px 0px 15px;
        text-align: center;
    }

    .card1-header__text {
        height: 40px;
        font-size: 17px;
        line-height: 40px;
    }

    .vat-text2 {
        display: block;
        font-size: 12px;
        padding: 5px 0px 0px 0px;
        position: absolute;
    }

    .vat-text {
        display: none;

    }

    .col-8__container {
        padding: 0px 0px 0px 0px;
    }

    .card1-header__text {
        height: 51px;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 48px;
        color: #505050;
    }

    .free-trail__container {
        padding-top: 5px;
        height: 136px;
        font-size: 15px;
        line-height: 18px;
    }

    .align-items-center {
        justify-content: flex-start;

    }

    .description-box {
        font-size: 17px;
        line-height: 35px;
    }

    .description-box__text {
        margin-top: 15px;
        font-size: 16px;
    }

    .subscription-plan__middlecard {
        margin-top: 24px;
        height: 585px;
    }

    .middlecard-header__text {
        height: 60px;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 60px;
        color: #505050;
    }

    .subscription-text__below {
        font-size: 13px;
        line-height: 37px;

    }

    .subscription-text__below span {
        font-size: 13px;
        line-height: 70px;
    }
    .mobile-section__text h3 {
        padding-top: 0px;
        font-size: 15px;
        line-height: 20px;
    }
    .app-icon__1{
        width: 50%;
    }

}